<% provide(:title, 'Why') %>
<div class = "container">
	<hr class="featurette-divider">
		<div class="featurette"  align="right">
			<img class ="featurette-image pull-right img-circle img-polaroid" src="<%=asset_path "biswash.jpg"%>">
			<h1 class="featurette-heading page-header"><strong>Bishwas Chepang</strong> <small>The Man Behind Everything</small></h1>
			<p class="lead"><strong>Aatma Nirbhar Abhiyaan</strong> is Bishwas's dream of looking at a developed and equal Chepang community.</p>
			<p>
			Born of a Chepang origin in a Chepang community Bishwas was born nineteen years ago; given birth in a jungle as it was not allowed to give birth inside the house. His parents and neighbors looked at that infant with wide and expectant eyes, hoping to see a farmer fifteen years later. A typical Chepang boy has to sow seeds of maize, wheat etc, collect firewood’s, and do similar muscular works. A Chepang girl was taught to collect grasses and get involve in private sphere works like; cooking, washing etc. But fortunately for Bishwas, a kind hearted late <em>Shree Kishor Kaji Dhungana</em> had opened a school; Shree Antyodaya Janajati Aawasiya Vidhayalaya for chepangs and he was one among the lucky ones to get enrolled there. From there he learned to read, write and learned the Nepali language. Later he studied for nine years in Budhanilkantha School from grade four to A level.</p>

			<p align="center">
			Currently Bishwas is working as facilitator in this <a href= "http://www.ucep.org.np/">UCEP Nepal</a>. He teaches 130 students at this organization all of whom are from marginalized backgrounds and societies. Bishwas has previously guided orphan children for 2 years now in <em>Rising Lotus Children’s Village</em> Hostel (orphanage) Kirtipur. Bishwas was a teacher and guide for these children. Waking twenty children’s (11 boys and 9 girls) early in the morning, checking their cleanliness, helping them in their studies, preventing immoral behaviors, making them follow their schedule were his regular duty. The children were from different parts of Nepal, each of them having their unique story on how they were brought up in a lone parent family. Some weren’t even brought up in their family; it was either by their uncles or cousins. He feels a connection with these children as he was brought up in single parent family as well. His parents divorced when he was six. It was his neighbors, who taught him to walk, talk and do similar activities. Bishwas Chepang is someone who has felt the need of quality life and understand how important it is for these kids.
			</p>
		</div>
	</hr>
</div>
