<% provide(:title, 'How?') %>
<div class = "container">
	<hr class="featurette-divider">
		<div class="featurette"  align="center">
			<h1 class="featurette-heading page-header"><strong>The Chepangs</strong> <small>Why Help Them?</small></h1>
			<p class="lead">The Chepang are one of Nepal’s most disadvantaged indigenous groups and are classified under the ‘highly marginalized’ category on the basis of a set of socio-economic indicators, such as population size, language literacy rate, house type, landownership, occupation and access to higher education.</p>
			<p>Chepangs are the earliest known inhabitants of Nepal and one of the most backward indigenous nationalities of Nepal. Nepal Federation of Indigenous Nationalities (NEFIN) has categorized Chepangs “as the second most backward/marginalized community" from the bottom list from among the 59 marginalized Indigenous Communities listed by it (Source: Nepal Chepang Association). Total population of Chepang is 52,237 (2001 Census) out of which male population is 26,685 and that of female population is 25,552. Today almost 90 percent of Chepangs are leading life under utter poverty. Further while only 23percent of them are literates, literacy rate among Chepang women is only 1 percent (Educate Chepang Initiative). Chepangs live in the wildest imaginable state of nature and many of them still lead a primitive life. Although about 70.5% of Chepang speak their Mother tongue belonging to the Tibeto-Burman family yet they have no written script. Mass illiteracy, extreme poverty, primitive agriculture, lack of food, high incidence of malnutrition, landlessness and living in the vicinity of the dense forest in the isolated rugged Mahabharat range are the major problems faced by Chepang community. Their subsistence economy is based on forest resources. </p>
			<p align = "center"><img class ="img-rounded img-polaroid" src="<%=asset_path "2.jpg"%>"></p>
			<p>
			While the Chepangs were living a nomadic life, most of the land good for cultivation was occupied by other communities, leaving them only the sloped, arid and stony land to choose from. These areas are absolutely isolated from the modern developments and are not linked by any motorable roads. During the dry season, because of the frequent famines Chepangs are forced to live on with almost no food every year. Although many Chepang practice shifting cultivation, but they do not own the land, mainly because they do not have citizenship certificates required for the land ownership papers and lack of citizenship certificates means no rights to own land, secure jobs even in private corporation and no government loan and banking supports as well as no
			right to vote and protection from the state. Today about 62% of the Chepang people are landless and about 85% of them do not have citizenship (Sixth National Chepang Assembly, Chitwan Declaration, September 2005). Landlessness and denial of citizenship certificate has become a major problem among the Chepang community.</p>
		</div>
	</hr>
	<hr>
		<div class="featurette"  align="center">
			<h2 align ="center"><span class="muted"><strong>Livelihood Challenges</strong></span></h2>
			<p class="lead">Originally nomadic, Chepangs used to survive through hunting, fishing and collecting edible roots and shoots from local forests. Most of the land suitable for crop cultivation was consequently occupied by more sedentary communities, and Chepangs were compelled to settle in sloped, arid and stony areas.</p>
			<p>Furthermore, the Private Forest Nationalization Act 1957 included all forest land that had previously been used under customary systems of rights and usage under the category of ‘government ownership’. There was no compensation for highly marginalized indigenous groups such as the Chepangs who had traditionally managed and used these forests. Non-recognition and the lack of legal protection of customary land rights have slowly eroded their access to areas they traditionally used for their livelihoods. </p>
			<p align = "center"><img class ="img-rounded img-polaroid" src="<%=asset_path "2.jpg"%>"></p>
			<p>
			Nowadays, most Chepangs are subsistence farmers and their economy is based on forest resources and shifting cultivation; their only means of survival as they do not own productive land. “We do not own land because we lack citizenship certificates required for land ownership”, said local Chepangs in Makwanpur. A member of the NCA further noted that almost half of Chepang households have been denied registration certificates for land they have cultivated for centuries and that, in 2005, still two-thirds of the Chepang population was considered landless.</p>
		</div>
	</hr>
<!--
	<hr>
		<div class="featurette">
			<img class="featurette-image pull-right img-rounded img-polaroid" src="<%=asset_path "2.jpg"%>">
			<h3><strong>PROBLEMS</strong></h3>
			<p class="lead">
				<ul>
					<li>Backward in education</li>
					<li>Lacks awareness; does not educate children</li>
					<li>Children starts to go to school after the age of eight as schools are far away from home</li>
					<li>Rather than sending their children to school they wish to have more helpings hand in agricultural works</li>
					<li>Language barrier in education.</li>
					<li>Geographical difficulty </li>
					<li>Open defecation </li>
					<li>Traditional doctors: pandee, Belief in witch doctors, superstition</li>
					<li>Impure water direct from river: diarrohoea</li>
					<li>High infant mortality rate</li>
					<li>Less  immunization facilities</li>
					<li>Oppression and suppression by the higher caste </li>
					<li>Chepangs  does not mingle in group</li>
					<li>Sloppy lands of the jungles are slashed and burnt and made a land for cultivation. Chepang will have shifting agriculture in the interval of 2 to 3 years. Chepang people do not have the habit of putting organic manure or any other forms of manure while cultivating crops.</li>
					<li>Intake of <strong>Jaad</strong> <em>(Haan)</em> all the time</li>
				</ul>
			</p>
		</div>
	</hr>
-->
</div>
