<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%=asset_path "0.jpg"%>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Help The Chepang</h1>
          <p class="lead">Do your part in empowering the <em>Chepang</em>. Contribute to <em>Aatma Nirvar Abhiyan</em> today.</p>
          <a class="btn btn-large btn-success" href="#">Donate Now!</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%=asset_path "5.jpg"%>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>चेपाङ जातिलाइ बचाऔ !</h1>
          <p class="lead">चेपाङ जातिको आत्म निर्भर अभियानमा आफ्नो योगदान आजै गरौ</p>
          <a class="btn btn-large btn-success" href="#">Donate Now!</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%=asset_path "6.jpg"%>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>“Not all of us can do great things
 But we can do small things with great love”</h1>
          <p class="lead"><em>Mother Teresa</em></p>
          <a class="btn btn-large btn-success" href="#">Donate Now!</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>