<hr class="featurette-divider">
	<div class="featurette"  align="right">
	  <img class="featurette-image pull-right img-circle img-polaroid" src="<%=asset_path "2.jpg"%>">
	  <h2 class="featurette-heading"><strong>Donors</strong></h2>
	  <h3 align ="center"><span class="muted">See who all have contributed</span></h3>
	  <p class="lead">The feeling to contribute and help those who are less unfortunate is universal. It doesn;t matter where you are from or where you live. <strong>You can still do your part!</strong> </p>
	  <p class="lead">See a complete of list of all the kind-hearted donors of this initiative. </p>
	  <%= link_to "Full Donor List", '#', class: "btn btn-medium" %>
	</div>
</hr>