<footer class="footer">
	<small>
		<em><strong>Help The Chepang</strong></em> is an initiative by Bishwas Chepang  
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li>Website Developed by <a href="http://github.com/akshaylb/">Kuro</a></li>
		</ul>
	</nav>
</footer>