<footer class="footer">
    <div class="container">
	    <div class="span10">
	        <%= link_to "help.the.chepang", root_path, class: "lead" %>
	        <p>is an initiative by Biswash Chepang</p>
	    </div>
        <div class="row links-horizontal">
            <ul>
                <li><%= link_to "About", about_path %></li>
    			<li><a href="#Contact" data-toggle="modal">Contact</a></li>
    			<li>Website Developed by <a href="http://github.com/akshaylb/">Kuro</a></li>
            </ul>
        </div>
    </div>
</footer>