<hr class="featurette-divider">
	<div class="featurette"  align="left">
	  <img class="featurette-image pull-left img-circle img-polaroid" src="<%=asset_path "11.jpg"%>">
	  <h2 class="featurette-heading"><strong>How?</strong></h2>
	  <h3 align ="center"><span class="muted">How do we help them?</span></h3>
	  <p class="lead">Initial step to minimize poverty through self sustaining campaign for Chepang <em>(Aatma Nirvar Abhiyan)</em> through poultry farming. I believe that the small effort can bring a great change in the aspects of fulfilling the basic needs of chepang people in long term as well.</p>
	  <%= link_to "Read More", how_path, class: "btn btn-medium" %>
	</div>
</hr>