<hr class="featurette-divider">
	<div class="featurette"  align="right">
	  <img class="featurette-image pull-right img-circle" src="<%=asset_path "2.jpg"%>">
	  <h2 class="featurette-heading"><strong>Why?</strong></h2>
	  <h3 align ="center"><span class="muted">Who are the chepangs? Why help them?</span></h3>
	  <p class="lead">The Chepang are one of Nepal’s most disadvantaged indigenous groups and are classified under the ‘highly marginalized’ category on the basis of a set of socio-economic indicators, such as population size, language literacy rate, house type, landownership, occupation and access to higher education.</p>
	  <%= link_to "Read More", '#', class: "btn btn-medium" %>
	</div>
</hr>